@import url('http://fonts.cdnfonts.com/css/lilly'); 
.App{ 
display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
gap: 20px; 
padding-top: 30px; 
} 
h1{ 
font-family: 'Lilly', sans-serif; 
font-size: 50px; 
color: #00ff08;
} 
.gen input{ 
height: 35px; 
width: 250px; 
font-size: 20px; 
padding-left: 5px; 
} 
button{ 
position: relative; 
height: 38px; 
width: 100px; 
top: -2px; 
font-size: 18px; 
border: none; 
color: whitesmoke; 
background-color: forestgreen; 
box-shadow: 2px 2px 5px rgb(74, 182, 74); 
cursor: pointer; 
} 
button:active{ 
box-shadow: none; 
} 
.extra{ 
padding-top: 20px; 
display: flex; 
justify-content: space-around; 
gap: 10px; 
align-items: center;
} 
.output-box{ 
display: flex; 
flex-direction: row; 
align-items: flex-start; 
gap: 40px; 
}
.download-buttons {
    margin-top: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .App {
  text-align: center;
}

.input-box {
  margin: 20px auto;
  width: 300px;
}

.gen, .extra {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 432px;
}

.button {
  margin-left: 10px;
}

.output-box {
  margin-top: 20px;
}

.download-buttons {
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
